:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.125rem;
}

mat-form-field {
  width: 18.75rem;
}

.gmail-button {
  margin-top: 1rem;
  padding: 0.3rem;
  padding-right: 1rem;
  min-width: 12.5rem;
}
