:host {
  display: block;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

a:hover,
a:active {
  color: lightseagreen;
}

.logo {
  cursor: pointer;
  animation: move 2s;
}

@keyframes move {
  from {
    margin-left: 50%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes move {
  from {
    margin-left: 50%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.logout {
  cursor: pointer;
}
