:host {
  display: block; /*Needed because default elements on Angular are created as inline and you cannot set the dimensions*/
  height: 100%;
  width: 100%;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}
mat-sidenav {
  width: 15.625rem;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

a:hover,
a:active {
  color: lightseagreen;
}

.logo {
  cursor: pointer;
}

.nav-span {
  display: inline-block;
  margin-left: 1rem;
}
